title: Kidz-Y1 - Kids MP3 Player
description: A simple MP3 player designed for kids
plugins:
  - jekyll-seo-tag

# Site settings
url: "https://pcorbel.github.io"
baseurl: "/kidz-y1"

# Build settings
markdown: kramdown
highlighter: rouge

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
